.carousel {
    display: grid;
    grid-template-columns: 50px auto 50px ;
    width: 300px;
}
.carousel__image {
    grid-column: 1/4
}
.carousel__backButton{
    grid-column: 1/2;
    z-index: 3;
}

.carousel__forwardButton{
    grid-column: 3/4;
}
.carousel__image, .carousel__backButton, .carousel__forwardButton {
grid-row: 1/2


}
.carousel__backButton, .carousel__forwardButton{
    border:none;
    background: transparent;
    font-size: 2.9em;
    color: aquamarine;
}

.carousel__backButton:hover {
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9))
}

.carousel__forwardButton:hover {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.9))    
} 